<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draft1 | <%=title %> </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add-article">Add Article</a></li>
                    <li><a href="/articles">Articles</a></li>
                </ul>
            </nav>

        </header>
        <div class="main-content">
            <h1>Add Articles</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, cupiditate.</p>
            <div class="content-details">
                <h3>Available Articles</h3>
                <form action="">
                    <label for="title">
                        Title
                        <input type="text" name="title">
                    </label>
                    <label for="summay">
                        summary
                        <input type="text" name="summay">
                    </label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        <footer>
            <p>&copy;NC, 2020 All rights reserved.lol</p>
        </footer>
    </body>
</html>