<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draft1 | <%=title %> </title>
    </head>
    <body>
        <header>
            <% const name="James" %>
            <p><%=name + ' Was Here But He Left as soon as we were here!!' %></p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add-article">Add Article</a></li>
                    <li><a href="/articles">Articles</a></li>
                </ul>
            </nav>

        </header>
        <div class="main-content">
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, cupiditate.</p>
            <div class="content-details">
                <h3>Special Features</h3>
                <ul>
                    <li>
                        <p class="feature">Feature 1</p>
                    </li>
                    <li>
                        <p class="feature">Feature 2</p>
                    </li>
                    <li>
                        <p class="feature">Feature 3</p>
                    </li>
                    <li>
                        <p class="feature">Feature 4</p>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <p>&copy;NC, 2020 All rights reserved.lol</p>
        </footer>
    </body>
</html>